<div class="panel panel-default">
    <div class="panel-heading">
        <div class="pull-left">Fault Rules</div>
        <div class="pull-right">
            <a class="action-link" (click)="addRule(addRuleModal)">New Rule</a>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="panel-body no-padding override-child-dataTable-margin" *ngIf="tableColumns.length > 0">
        <sa-datatable [options]="options" [dataTableColumns]="tableColumns" [dataTableId]="tableName"
            (selectedColumnsToSave)="saveSelectedColumns($event)"
            tableClass="table table-striped table-bordered table-hover" #faultRulesTable>
            <thead>
                <tr>
                    <th class="col-sm-3">Code</th>
                    <th class="col-sm-5">Description</th>
                    <th class="col-sm-3">Rule</th>
                    <th class="col-sm-1">Actions</th>
                </tr>
            </thead>
        </sa-datatable>
    </div>
</div>

<ng-template #addRuleModal>
    <div class="modal-header">
        <button type="button" class="close" (click)="closeRuleModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Add Fault Rule</h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3" for="rule">Rule</label>
                <div class="col-sm-9">
                    <select style="width:100%" name="rule" id="rule" [(ngModel)]="ruleData.action">
                        <option *ngFor="let a of actions" [value]="a">{{a}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3" for="description">Description</label>
                <div class="col-sm-9">
                    <input class="input input-xs form-control" name="description" [(ngModel)]="ruleData.description">

                    <div *ngIf="submitted && !ruleData.description" class="help-block">
                        <div class="small">Please enter description
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3" for="mask">Mask</label>
                <div class="col-sm-9">
                    <input class="input input-xs form-control" name="mask" [(ngModel)]="ruleData.mask"
                        (ngModelChange)="maskChanged($event)" placeholder="SPN(from[-to]) FMI(from[-to]) OC(from[-to])">

                        <div *ngIf="submitted && maskMessage" class="help-block">
                            <div class="small">{{maskMessage}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <i class="fa fa-lg fa-info-circle" style="color: gray"></i> This entry mask requires a single or range of
                    Suspect Parameter Numbers (SPNs), Fault Mode Indicators (FMI) and Occurance Counts (OC).<br/>
                    <ng-container *ngIf="spnListLoaded">
                        For a description of available SPNs click <a class="action-link" (click)="showSPNs(showSPNsModal)">here</a>.
                    </ng-container>
                </div>
            </div>

            <div class="text-right">
                <button class="btn btn-primary" (click)="createRule()">Create</button>
            </div>
        </form>
    </div>
</ng-template>

<div bsModal #deleteRuleModal="bs-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-400">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="closeDeleteRuleModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Delete Fault Rule</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    Are you sure you want to delete <b>{{forRule.mask?.formatted}}</b>?
                </div>
                <div class="text-right">
                    <button class="btn btn-primary" (click)="deleteRule(forRule)">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #showSPNsModal>
    <div class="modal-header">
        <button type="button" class="close" (click)="closeShowSPNsModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            Possible SPN values
            <div class="btn-group" style="margin-top: -6px;">
                <input class="panel-search" placeholder="Search..." name="searchSPNs" id="searchSPNs"
                    [(ngModel)]="search" type="text" style="font-size: 13px;">
                <span class="fa fa-times message-search-clear" (click)="search = ''"></span>
            </div>
        </h4>
    </div>
    <div class="modal-body no-padding">
        <div class="panel-body no-padding" *ngVar="{
            filteredSpns: spnList | spnsSearch:search,
            paginatedSpns: spnList | spnsSearch:search | arrayPagination:spnsPage:spnsPageSize
        } as spnsFilter">
            <table class="responsive table table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="col-sm-2">SPN</th>
                        <th class="col-sm-10">Label</th>
                    </tr>
                </thead>
                <tbody *ngIf="!spnsFilter.paginatedSpns.array || spnsFilter.paginatedSpns.array.length === 0">
                    <tr>
                        <td style="text-align: center; vertical-align: middle;" colspan="2">
                            No data
                        </td>
                    </tr>
                </tbody>
                <tbody *ngIf="!!spnsFilter.paginatedSpns.array && spnsFilter.paginatedSpns.array.length > 0">
                    <tr *ngFor="let spn of spnsFilter.paginatedSpns.array">
                        <td class="col-sm-1">
                            <span ngxTextHighlight [content]="'' + spn.spn" [searchTerm]="search"  [caseSensitive]="false">
                            </span>
                        </td>
                        <td class="col-sm-11">
                            <span ngxTextHighlight [content]="spn.label" [searchTerm]="search"  [caseSensitive]="false">
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="dt-toolbar-footer">
                <div class="col-sm-5 col-xs-12 hidden-xs">
                    <div class="dataTables_info" role="status" style="padding-top: 9px; padding-bottom: 6px;">
                        Showing {{spnsFilter.filteredSpns.length > 0 ? spnsFilter.paginatedSpns.begin + 1 : 0}}
                        to {{spnsFilter.paginatedSpns.end}} of {{spnsFilter.filteredSpns.length}} SPNs
                    </div>
                </div>
                <div class="col-xs-12 col-sm-7" style="padding-top: 2px;">
                    <ngb-pagination [boundaryLinks]="false" [collectionSize]="spnsFilter.filteredSpns.length" [(page)]="spnsPage"
                        [pageSize]="spnsPageSize" [maxSize]="3" [rotate]="true" [ellipses]="true" size="sm"
                        (pageChange)="changeSpnsPage($event)" aria-label="Default pagination" *ngIf="spnsFilter.filteredSpns.length > 0"
                        class="pagination-no-margin">
                        <ng-template ngbPaginationPrevious>
                            Previous
                        </ng-template>
                        <ng-template ngbPaginationNext>
                            Next
                        </ng-template>
                    </ngb-pagination>
                </div>
            </div>
        </div>

        <!-- <div class="text-right">
            <button class="btn btn-default" (click)="closeShowSPNsModal()">Close</button>
        </div> -->
    </div>
</ng-template>
