<div id="main" role="main" class="animated fadeInDown">

  <div id="content" class="container">
    <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
      <span id="auth-logo">
        <img src="assets/img/logo1024.png" alt="Truckspy">
      </span>

      <div class="well no-padding">
        <form class="smart-form client-form" #loginForm="ngForm" (ngSubmit)="loginForm.form.valid && login()">
          <header>
            Sign In
          </header>

          <fieldset>
            <section *ngIf="errorMessage">
              <div class="text-danger">
                <strong>{{errorMessage}}</strong>
              </div>
            </section>
            <section>
              <div class="form-group" [ngClass]="{ 'has-error': loginForm.submitted && emailInput.invalid }">
                <label class="control-label" for="email">E-mail</label>
                <label class="input form-control">
                  <i class="icon-append fa fa-envelope"></i>
                  <input type="email" name="email" [(ngModel)]="email" #emailInput="ngModel" required>
                  <b class="tooltip tooltip-top-right">
                    <i class="fa fa-envelope txt-color-teal"></i>
                    Please enter email address
                  </b>
                </label>

                <div *ngIf="loginForm.submitted && emailInput.invalid" class="help-block">
                  <div *ngIf="emailInput.errors.required">Please enter your email address</div>
                  <div *ngIf="emailInput.errors.email">Please enter a VALID email address</div>
                </div>
              </div>
            </section>

            <section>
              <div class="form-group" [ngClass]="{ 'has-error': loginForm.submitted && passwordInput.invalid }">
                <label class="control-label" for="password">Password</label>
                <label class="input form-control">
                  <i class="icon-append fa fa-lock"></i>
                  <input type="password" name="password" [(ngModel)]="password" #passwordInput="ngModel" required>
                  <b class="tooltip tooltip-top-right">
                    <i class="fa fa-lock txt-color-teal"></i>
                    Enter your password
                  </b>
                </label>

                <div *ngIf="loginForm.submitted && passwordInput.invalid" class="help-block">
                  <div *ngIf="passwordInput.errors.required">Please enter your password</div>
                </div>
              </div>

              <div class="note">
                <a routerLink="/auth/forgot-password">Forgot password?</a>
              </div>
            </section>
          </fieldset>

          <footer>
            <div class="form-group">
              <button class="btn btn-primary">Sign in</button>
            </div>
          </footer>
        </form>
      </div>
    </div>
  </div>
</div>