<div id="content">
    <div class="row">
        <sa-big-breadcrumbs [items]="['Connections']" icon="link" class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
        </sa-big-breadcrumbs>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">Connections</div>
                <div class="panel-body no-padding override-child-dataTable-margin" *ngIf="tableColumns.length > 0">
                    <sa-datatable [options]="optionsConnections" tableClass="table table-striped table-bordered table-hover"
                          [dataTableColumns]="tableColumns" [dataTableId]="tableName"
                          (selectedColumnsToSave)="saveSelectedColumns($event)" #connectionsTable>
                        <thead>
                            <tr>
                                <th class="col-sm-3">Connection Name</th>
                                <th class="col-sm-2">Connection Type</th>
                                <th class="col-sm-1">Status</th>
                                <th class="col-sm-2">Last Sync</th>
                                <th class="col-sm-4">Company</th>
                            </tr>
                        </thead>
                        <thead class="filter-header">
                            <tr>
                                <td class="filter-valuable">
                                    <div class="btn-group" style="width: 100%;">
                                        <input class="form-control" style="width: 100%;" placeholder="Name Search..." name="name"
                                            id="name" [(ngModel)]="filters.name" (ngModelChange)="onNameChanged()" type="text">
                                        <span class="fa fa-times message-search-clear" (click)="clearName()"></span>
                                    </div>
                                </td>
                                <td class="filter-valuable">
                                    <select style="width: 100%" data-select-search="true" select2 name="connectionType"
                                            [(ngModel)]="filters.connectionType" (changedAction)="onConnectionTypeChanged($event)"
                                            [chooseOnTab]="true" [disabled]="!connectionTypes">
                                        <option style="color: lightgray" value="">
                                            All Types
                                        </option>
                                        <option *ngFor="let c of connectionTypes" [value]="c.type">
                                            {{ c.type }}
                                        </option>
                                    </select>
                                </td>
                                <td></td>
                                <td></td>
                                <td class="filter-valuable">
                                    <select style="width: 100%" data-select-search="true" select2 name="company"
                                            [(ngModel)]="filters.companyName" (changedAction)="onCompanyChanged($event)"
                                            [chooseOnTab]="true" [disabled]="!companies">
                                        <option style="color: lightgray" value="">
                                            All Companies
                                        </option>
                                        <option *ngFor="let c of companies" [value]="c.name">
                                            {{ c.name }}
                                        </option>
                                    </select>
                                </td>
                            </tr>
                        </thead>
                    </sa-datatable>
                </div>
            </div>
        </div>
    </div>
</div>