<div id="content">
    <div class="row">
        <sa-big-breadcrumbs [items]="['Company']" icon="building" class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
        </sa-big-breadcrumbs>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-4">
            <app-company-info></app-company-info>

            <app-company-dispatchgroups></app-company-dispatchgroups>

            <app-company-feedbacktypes *ngIf="theCompany() && theCompany().enabledFeatures && theCompany().enabledFeatures.dispatching">
            </app-company-feedbacktypes>
        </div>

        <div class=" col-sm-12 col-md-12 col-lg-8">
            <app-company-users></app-company-users>

            <app-company-connections></app-company-connections>

            <app-company-vehicletypes *ngIf="theCompany() && theCompany().enabledFeatures && theCompany().enabledFeatures.dispatching">
            </app-company-vehicletypes>

            <app-company-tokens></app-company-tokens>
        </div>
    </div>
</div>