<div id="content">
    <div class="row">
        <sa-big-breadcrumbs [items]="['Invoices']" icon="money" class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
        </sa-big-breadcrumbs>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Invoices
                    <a (click)="downloadExcelReport()" class="pull-right">
                        <i class="fa fa-file-excel-o"></i> excel
                    </a>
                </div>
                <div class="panel-body no-padding override-child-dataTable-margin" *ngIf="tableColumns.length > 0">
                    <sa-datatable [options]="optionsInvoices" [dataTableColumns]="tableColumns"
                        [dataTableId]="tableName" (selectedColumnsToSave)="saveSelectedColumns($event)"
                        tableClass="table table-striped table-bordered table-hover" #invoicesTable>
                        <thead>
                            <tr>
                                <th class="col-1_6">Invoice Number</th>
                                <th class="col-sm-2">Company</th>
                                <th class="col-sm-1">Date</th>
                                <th class="col-0_7">Paid</th>
                                <th class="col-0_7">Amount</th>
                                <th class="col-sm-1">Discount Amount</th>
                                <th class="col-sm-1">Amount Total</th>
                                <th class="col-sm-2">Charge Failed Attempts</th>
                                <th class="col-sm-2">Actions</th>
                            </tr>
                        </thead>
                    </sa-datatable>
                </div>
            </div>
        </div>
    </div>
</div>