<div class="page-footer">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <span class="txt-color-white">Truckspy © {{currentYear}}</span>
        </div>

        <div class="col-xs-6 col-sm-6 text-right hidden-xs">
            <div class="txt-color-white inline-block">
                <i class="txt-color-blueLight hidden-mobile">Last login <i class="fa fa-clock-o"></i>
                    <strong>{{(lastLogin | timezoneHandler | date : 'yyyy-MM-dd, HH:mm:ss') || 'N/A'}} &nbsp;</strong> </i>
            </div>
        </div>
    </div>
</div>