<a class="action-link" (click)="addBooking(addBookingModal)">
    {{linkName || 'Create Booking'}}
</a>

<ng-template #addBookingModal>
    <div class="modal-header">
        <button type="button" class="close" (click)="closeBookingModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Create Booking</h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" #addBookingForm="ngForm" (ngSubmit)="addBookingForm.form.valid && createBooking()">
            <div class="form-group">
                <label class="col-sm-2" for="customer">Customer</label>
                <div class="col-sm-3">
                    <select style="width:100%" name="customer" id="customer" [(ngModel)]="bookingData.customerId" [disabled]="customers.length === 0">
                        <option *ngFor="let c of customers" [value]="c.id">{{c.name}}</option>
                    </select>

                    <div *ngIf="customers.length === 0" class="help-block">
                        <div class="small">Please create a customer
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2" for="type">Vehicle Type</label>
                <div class="col-sm-3">
                    <select style="width:100%" name="type" id="type" [(ngModel)]="bookingData.typeId" [disabled]="types.length === 0">
                        <option value="">N/A</option>
                        <option *ngFor="let t of types" [value]="t.id">{{t.type}}</option>
                    </select>
                </div>
            </div>

            <div class="form-horizontal tables-flat">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th class="">Order</th>
                            <th class="col-sm-4">Location</th>
                            <th class="col-sm-4">Appointment Details</th>
                            <th class="col-sm-4">Stop Details</th>
                            <th class="">
                                <button class="btn btn-xs btn-success" type="button" (click)="addStop()">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let stop of bookingData.stops; index as order">
                            <td class="">
                                {{order + 1}}
                            </td>
                            <td class="col-sm-4">
                                <label for="isLocation{{stop.id}}" *ngIf="locations.length > 0" style="margin-bottom: 10px;">
                                    <input name="isLocation{{stop.id}}" id="isLocation{{stop.id}}" [(ngModel)]="stop.isLocation"
                                        style="vertical-align: -2px;" type="checkbox">
                                    Select Location
                                </label>

                                <div *ngIf="stop.isLocation" style="margin-bottom: 5px;">
                                    <ng-select class="to-default" name="location{{stop.id}}"
                                        [items]="locations" bindLabel="name" bindValue="id" [clearable]="false"
                                        [(ngModel)]="stop.locationId" dropdownPosition="bottom">
                                        <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                                            <span [ngOptionHighlight]="search">{{item.name}}</span>
                                        </ng-template>
                                    </ng-select>
                                </div>

                                <div *ngIf="!stop.isLocation">
                                    <div class="form-group small-form-group">
                                        <label class="col-sm-4" for="name{{stop.id}}">Name</label>
                                        <div class="col-sm-8">
                                            <input class="input input-xs form-control" name="name{{stop.id}}" [(ngModel)]="stop.name">
                                        </div>
                                    </div>
                                    <app-address-input [address]="stop.address" [prefix]="order" [compact]="true"></app-address-input>
                                </div>

                                <div class="form-group small-form-group">
                                    <label class="col-sm-4" for="phone{{stop.id}}">Phone</label>
                                    <div class="col-sm-8" [ngClass]="{ 'has-error': addBookingForm.submitted && addBookingForm.controls['phone' + stop.id] && addBookingForm.controls['phone' + stop.id].invalid }">
                                        <input class="input input-xs form-control" type='text' name="phone{{stop.id}}"
                                            [(ngModel)]="stop.phone" prefix="+" mask="00000000009" [showMaskTyped]="true"
                                            style="border-width: 1px;">

                                        <div *ngIf="addBookingForm.submitted && addBookingForm.controls['phone' + stop.id] && addBookingForm.controls['phone' + stop.id].invalid" class="help-block">
                                            <div class="small" *ngIf="addBookingForm.controls['phone' + stop.id] && addBookingForm.controls['phone' + stop.id].invalid">Valid phone is 10-11 digits</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group small-form-group">
                                    <label class="col-sm-4" for="fax{{stop.id}}">Fax</label>
                                    <div class="col-sm-8" [ngClass]="{ 'has-error': addBookingForm.submitted && addBookingForm.controls['fax' + stop.id] && addBookingForm.controls['fax' + stop.id].invalid }">
                                        <input class="input input-xs form-control" type='text' name="fax{{stop.id}}"
                                            [(ngModel)]="stop.fax" prefix="+" mask="00000000009" [showMaskTyped]="true"
                                            style="border-width: 1px;">

                                        <div *ngIf="addBookingForm.submitted && addBookingForm.controls['fax' + stop.id] && addBookingForm.controls['fax' + stop.id].invalid" class="help-block">
                                            <div class="small" *ngIf="addBookingForm.controls['fax' + stop.id] && addBookingForm.controls['fax' + stop.id].invalid">Valid fax is 10-11 digits</div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="col-sm-4">
                                <div class="form-group small-form-group">
                                    <label class="col-sm-4" for="appointmentFrom{{stop.id}}">App Date</label>
                                    <div class="col-sm-8">
                                        <div class="input-group" style="margin-bottom: 5px;">
                                            <input name="appointmentFrom{{stop.id}}" class="form-control" style="height: 24px; padding-left: 4px;"
                                                [(ngModel)]="stop.appPeriod" [owlDateTimeTrigger]="dt" [owlDateTime]="dt" [selectMode]="'range'">
                                            <span class="input-group-addon" style="height: 24px; padding: 4.2px;">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                            <owl-date-time [pickerType]="'both'" #dt></owl-date-time>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group small-form-group">
                                    <label class="col-sm-4" for="loadNo{{stop.id}}">Load No</label>
                                    <div class="col-sm-8">
                                        <input class="input input-xs form-control" name="loadNo{{stop.id}}" [(ngModel)]="stop.loadNo">
                                    </div>
                                </div>
                                <div class="form-group small-form-group">
                                    <label class="col-sm-4" for="bolNo{{stop.id}}">Bol No</label>
                                    <div class="col-sm-8">
                                        <input class="input input-xs form-control" name="bolNo{{stop.id}}" [(ngModel)]="stop.bolNo">
                                    </div>
                                </div>
                                <div class="form-group small-form-group">
                                    <label class="col-sm-4" for="deliveryNo{{stop.id}}">Delv No</label>
                                    <div class="col-sm-8">
                                        <input class="input input-xs form-control" name="deliveryNo{{stop.id}}" [(ngModel)]="stop.deliveryNo">
                                    </div>
                                </div>
                                <div class="form-group small-form-group">
                                    <label class="col-sm-4" for="dimensions{{stop.id}}">Dimensions</label>
                                    <div class="col-sm-8">
                                        <input class="input input-xs form-control" name="dimensions{{stop.id}}" [(ngModel)]="stop.dimensions">
                                    </div>
                                </div>

                                <div class="form-group small-form-group">
                                    <label class="col-sm-6" for="cargoValue{{stop.id}}">Value</label>
                                    <div class="col-sm-6">
                                        <input class="input input-xs form-control" name="cargoValue{{stop.id}}"
                                            type="number" [(ngModel)]="stop.cargoValue">
                                    </div>
                                </div>
                                <div class="form-group small-form-group">
                                    <label class="col-sm-6" for="plannedServiceTime{{stop.id}}">Service Time (min)</label>
                                    <div class="col-sm-6">
                                        <input class="input input-xs form-control" name="plannedServiceTime{{stop.id}}"
                                            type="number" [(ngModel)]="stop.plannedServiceTime">
                                    </div>
                                </div>

                                <label for="containsHazardousMaterials{{stop.id}}" class="pull-right">
                                    <input name="containsHazardousMaterials{{stop.id}}" id="containsHazardousMaterials{{stop.id}}" [(ngModel)]="stop.containsHazardousMaterials"
                                        style="vertical-align: -2px;" type="checkbox">
                                        Hazardous Materials
                                </label>
                            </td>
                            <td class="col-sm-4">
                                <div class="form-group small-form-group">
                                    <label class="col-sm-5" for="type{{stop.id}}">Stop Type</label>
                                    <div class="col-sm-7">
                                        <select style="width:100%" name="type{{stop.id}}" [(ngModel)]="stop.type">
                                            <option *ngFor="let st of stopTypes" [value]="st">{{st | lowercase | titlecase}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group small-form-group">
                                    <label class="col-sm-5" for="type{{stop.id}}">Req. Feedback</label>
                                    <div class="col-sm-7">
                                        <label *ngIf="feedbackTypes.length === 0">
                                            <i>No feedback types to select</i>
                                        </label>
                                        <ng-select class="to-default" name="feedback{{stop.id}}" *ngIf="feedbackTypes.length > 0"
                                            [items]="feedbackTypes" bindLabel="name" bindValue="id" [closeOnSelect]="false"
                                            [(ngModel)]="stop.requiredFeedbackTypes" [multiple]="true" dropdownPosition="bottom">
                                            <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                                                <!-- <div class="ng-value" *ngFor="let item of items | slice:0:1">
                                                    <span class="ng-value-label">{{item.name}}</span>
                                                    <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                                                </div>
                                                <div class="ng-value" *ngIf="items.length > 1">
                                                    <span class="ng-value-label">{{items.length - 1}} more...</span>
                                                </div> -->
                                                <div class="ng-value">
                                                    <span class="ng-value-label" *ngIf="items.length === 1">Selected {{items.length}} type</span>
                                                    <span class="ng-value-label" *ngIf="items.length > 1">Selected {{items.length}} types</span>
                                                </div>
                                            </ng-template>
                                            <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                                                <span [ngOptionHighlight]="search">{{item.name}}</span>
                                            </ng-template>
                                        </ng-select>
                                    </div>
                                </div>

                                <div class="form-group small-form-group">
                                    <label class="col-sm-5" for="plannedArrival{{stop.id}}">Sch. Arrival</label>
                                    <div class="col-sm-7">
                                        <div class="input-group" style="margin-bottom: 5px;">
                                            <input [(ngModel)]="stop.plannedArrival" [owlDateTimeTrigger]="dtPlannedArrival" [owlDateTime]="dtPlannedArrival"
                                                name="plannedArrival{{stop.id}}" class="form-control" style="height: 24px; padding-left: 4px;">
                                            <span class="input-group-addon" style="height: 24px; padding: 4.2px;">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                            <owl-date-time #dtPlannedArrival></owl-date-time>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group small-form-group">
                                    <label class="col-sm-5" for="temperature{{stop.id}}">Temperature</label>
                                    <div class="col-sm-7">
                                        <input class="input input-xs form-control" name="temperature{{stop.id}}"
                                            type="number" [(ngModel)]="stop.temperature">
                                    </div>
                                </div>

                                <div class="form-group small-form-group">
                                    <label class="col-sm-12" for="description{{stop.id}}">Description</label>
                                    <div class="col-sm-12">
                                        <textarea [(ngModel)]="stop.description" class="form-control"
                                            style="resize: none;" name="description{{stop.id}}" rows="4">
                                        </textarea>
                                    </div>
                                </div>
                            </td>
                            <td class="">
                                <button class="btn btn-xs btn-default" type="button" (click)="deleteStop(order)" *ngIf="bookingData.stops.length > 2">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br/>

            <div class="text-right">
                <button class="btn btn-primary" type="submit" [disabled]="customers.length === 0">
                    Create
                </button>
            </div>
        </form>
    </div>
</ng-template>
