<a class="action-link" (click)="showVehicleMapModal(vehicleMapModal)">
    <span ngxTextHighlight [content]="vehicle.remoteId || '(unspecified)'" [searchTerm]="highlight"  [caseSensitive]="false">
    </span>
</a>

<ng-template #vehicleMapModal>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Vehicle Information</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeVehicleMapModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3">Id</label>
                <label class="col-sm-9">
                    <a href="#/vehicles/{{theVehicle.id}}/view"  (click)="closeVehicleMapModal()">
                        {{theVehicle.remoteId || '(unspecified)'}}
                    </a>
                </label>
            </div>
            <div class="form-group">
                <label class="col-sm-3">Driver</label>
                <label class="col-sm-9">
                    <a href="#/drivers/{{theVehicle.lastPosition.driverId}}/view" *ngIf="theVehicle.lastPosition.driverId">
                        <b>driver >></b>
                    </a>
                </label>
            </div>
        </form>

        <ng-container *ngIf="!!theVehicle && theVehicle.hasLastPosition()">
            <app-vehicle-map [vehicle]="theVehicle"></app-vehicle-map>
        </ng-container>
        <ng-container *ngIf="!theVehicle || !theVehicle.hasLastPosition()">
            <i>No map specific data</i>
        </ng-container>
    </div>
</ng-template>