<div id="content">
    <div class="row">
        <sa-big-breadcrumbs [items]="['Vehicles']" icon="truck" class="col-xs-4">
        </sa-big-breadcrumbs>

        <div class="col-xs-8" style="padding-top: 12px">
            <button class="btn btn-default pull-right" [class.btn-primary]="tabsState == 'map'"
                (click)="tabsState = 'map'" [disabled]="!vehiclesLoaded">
                <i class="fa fa-map-marker"></i> Map
            </button>
            <button class="btn btn-default pull-right" [class.btn-primary]="tabsState == 'table'"
                (click)="tabsState = 'table'">
                <i class="fa fa-table"></i> Table
            </button>

            <div style="margin-top: 5px;">
                <select class="pull-right" style="width: 50%; max-width: 150px; margin-right: 10px;" name="group" id="group" [(ngModel)]="filters.dispatchGroupId"
                    (ngModelChange)="onGroupChange($event)">
                    <option style="color: lightgray;" value="">All</option>
                    <option *ngFor="let g of dispatchGroups" [value]="g.id">{{g.name}}</option>
                </select>
                
                <label style="padding-top: 2px" class="pull-right" for="group">Dispatch Group:&nbsp;&nbsp;</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="panel panel-default" *ngIf="tabsState == 'table'">
                <div class="panel-heading" style="padding-left: 10px;">
                    <ul class="nav nav-tabs pull-left" style="margin: -10px;">
                        <li [class.active]="!dataError && isActiveTab()">
                            <a (click)="!(!dataError && isActiveTab()) && showActive()">
                                <span><i class="fa fa-check-circle-o" style="color: green;"></i>&nbsp;Active</span>
                            </a>
                        </li>
                        <li [class.active]="!dataError && !isActiveTab()">
                            <a (click)="!(!dataError && !isActiveTab()) && showDeleted()">
                                <span><i class="fa fa-trash-o"></i>&nbsp;Deleted</span>
                            </a>
                        </li>
                        <li [class.active]="dataError">
                            <a (click)="!dataError && showDataError()">
                                <span><i class="fa fa-exclamation" style="color: tomato;"></i>&nbsp;Error</span>
                            </a>
                        </li>
                    </ul>

                    <div class="pull-right" *ngIf="theCompany().devicesEnabled">
                        <a class="action-link" (click)="addVehicle(addVehicleModal)" *ngIf="categories && categories.length > 0">
                            Create Vehicle
                        </a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body no-padding override-child-dataTable-margin" *ngIf="tableColumns.length > 0">
                    <sa-datatable [options]="options" [dataTableColumns]="tableColumns" (selectedColumnsToSave)="saveSelectedColumns($event)" #vehiclesTable tableClass="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="col-sm-1">Vehicle</th>
                                <th class="col-sm-2">Reporting Profile</th>
                                <th class="col-0_7">Status</th>
                                <th class="col-1_6">Category</th>
                                <th class="col-sm-2">Connection</th>
                                <th class="col-sm-1">Domicile</th>
                                <th class="col-sm-1">Driver</th>
                                <th class="col-sm-2">
                                    <span [innerHtml]="infoHeader"></span>
                                </th>
                                <th class="col-1_6">
                                    <span [innerHtml]="datetimeHeader"></span>
                                </th>
                                <th class="col-0_7">Products</th>
                            </tr>
                        </thead>
                        <thead class="filter-header">
                        <tr>
                            <td class="filter-valuable">
                                <div class="btn-group" style="width: 100%;">
                                    <input class="form-control" style="width: 100%;" placeholder="Vehicle Search..." name="remoteId"
                                        id="remoteId" [(ngModel)]="filters.remoteId" (ngModelChange)="onRemoteIdChanged($event)" type="text">
                                    <span class="fa fa-times message-search-clear" (click)="clearVehicle()"></span>
                                </div>
                            </td>
                            <td class="filter-valuable">
                                <select style="width: 100%" data-select-search="true" select2 #profileSelect2
                                        name="reportingProfileId" [(ngModel)]="filters.reportingProfileId"
                                        (changedAction)="onReportProfileChanged($event)" [chooseOnTab]="true"
                                        [disabled]="!reportingProfiles || reportingProfiles.length === 0">
                                    <option style="color: lightgray" value="">
                                        All Reporting Profile
                                    </option>
                                    <option *ngFor="let r of reportingProfiles" [value]="r.id">
                                        {{r.name}}
                                    </option>
                                </select>
                            </td>
                            <td></td>
                            <td class="filter-valuable">
                                <select style="width: 100%" data-select-search="true" select2 #categorySelect2
                                        name="category" [(ngModel)]="filters.category"
                                        (changedAction)="onCategoryChanged($event)" [chooseOnTab]="true"
                                        [disabled]="!categories || categories.length === 0">
                                    <option style="color: lightgray" value="">
                                        All Categories
                                    </option>
                                    <option *ngFor="let category of categories" [value]="category">
                                        {{category}}
                                    </option>
                                </select>
                            </td>
                            <td class="filter-valuable">
                                <select style="width: 100%" data-select-search="true" select2 #connectionSelect2
                                        name="connectionId" [(ngModel)]="filters.connectionId"
                                        (changedAction)="onConnectionsChanged($event)" [chooseOnTab]="true"
                                        [disabled]="!connections || connections.length === 0">
                                    <option style="color: lightgray" value="">
                                        All Connections
                                    </option>
                                    <option *ngFor="let c of connections" [value]="c.id">
                                        {{c.name}}
                                    </option>
                                </select>
                            </td>
                            <td class="filter-valuable">
                                <select style="width: 100%" data-select-search="true" select2 #locationSelect2
                                        name="locationId" [(ngModel)]="filters.domicileLocationId"
                                        (changedAction)="onLocationsChanged($event)" [chooseOnTab]="true"
                                        [disabled]="!locations || locations.length === 0">
                                    <option style="color: lightgray" value="">
                                        All Domicile
                                    </option>
                                    <option *ngFor="let l of locations" [value]="l.id">
                                        {{l.name}}
                                    </option>
                                </select>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        </thead>
                    </sa-datatable>
                </div>
            </div>

            <div class="panel panel-default" *ngIf="tabsState == 'map'">
                <div class="panel-body no-padding" *ngVar="vehicles | vehiclesMapItems as mapVehicles">
                    <div class="col-sm-3 col-md-3 col-lg-3 vehicles-list" id="scrollableDiv">
                        <ng-container *ngIf="!mapVehicles || mapVehicles.length == 0">
                            <i style="margin-top: 15px; position: absolute;">
                                No vehicle activities within last 24 hours to display
                            </i>
                        </ng-container>
                        <ng-container *ngIf="mapVehicles && mapVehicles.length > 0">
                            <ng-container *ngFor="let vehicle of mapVehicles">
                                <div (click)="displayVehicle(vehicle)"
                                    class="vehicle-entry"
                                    [class.active]="station?.id === selectedElement?.id"
                                    id="divScrollTo-{{vehicle.id}}">
                                    <div class="row vehicle-entry-details">
                                        <div class="col-xs-9 no-padding">
                                            <a href="#/vehicles/{{vehicle.id}}/view">
                                                {{vehicle.remoteId || '(unspecified)'}}
                                            </a>
                                            <br/>
                                            <a *ngIf="vehicle?.driver?.id" href="#/drivers/{{vehicle.driver.id}}/view">
                                                {{vehicle.driver.name() + ' (' + (vehicle.driver.remoteId || '(unspecified)') + ')'}}
                                            </a>
                                            <i *ngIf="!vehicle?.driver?.id">No Driver</i>
                                        </div>
                                        <div class="col-xs-3 no-padding">
                                            <ng-container>
                                                <i *ngIf="vehicle.lastPosition.speed > 0"
                                                    class="fa pull-right fa-arrow-circle-up" style="color: green; font-size: 18px;"
                                                    [style.transform]="'rotate(' + vehicle.lastPosition.heading + 'deg)'"
                                                    [style.-ms-transform]="'rotate(' + vehicle.lastPosition.heading + 'deg)'"
                                                    [style.-webkit-transform]="'rotate(' + vehicle.lastPosition.heading + 'deg)'"
                                                    [style.-o-transform]="'rotate(' + vehicle.lastPosition.heading + 'deg)'"></i>
                                                <i *ngIf="vehicle.lastPosition.speed === 0 && vehicle.lastPosition.ignition"
                                                    class="fa pull-right fa-pause-circle" style="color: green; font-size: 18px;"></i>
                                                <i *ngIf="vehicle.lastPosition.speed === 0 && !vehicle.lastPosition.ignition"
                                                    class="fa pull-right fa-times-circle" style="color: red; font-size: 18px;"></i>
                                            </ng-container>
                                            <br/>
                                            <span class="pull-right">{{vehicle.lastPosition.speed}} mph</span>
                                        </div>
                                        <div class="col-xs-12 no-padding">
                                            <i *ngIf="vehicle.lastPosition.place" class="pull-right">
                                                {{vehicle.lastPosition.place}}
                                            </i>
                                            <br/>
                                            <a *ngIf="vehicle?.domicileLocation?.id" class="pull-right"
                                                href="#/location/list/{{vehicle.domicileLocation.id}}/view">
                                                {{vehicle.domicileLocation.name}}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>
        
                    <div class="col-sm-9 col-md-9 col-lg-9 h-100">
                        <div class="row">
                            <mgl-map [style]="style" [fitBoundsOptions]="fitBoundsOptions"
                                (load)="onLoad($event)" [fitBounds]="fitBounds">
                                <mgl-control>
                                    <button class="btn btn-xs btn-default" (click)="toggleStyle()">
                                        <i class="fa" [ngClass]="{ 'fa-camera': isDefault, 'fa-road': !isDefault }"></i>
                                        {{isDefault ? "Satellite" : "Streets"}}
                                    </button>
                                </mgl-control>
                                <ng-container *ngFor="let vehicle of mapVehicles">
                                    <mgl-marker #vehicleMarker
                                        [lngLat]="[vehicle.lastPosition.longitude, vehicle.lastPosition.latitude]">
                                        <button type="button" class="btn btn-circle"
                                                [style.background-color]="vehicle.lastPosition.speed === 0 && !vehicle.lastPosition.ignition ? 'red' : 'green'"
                                                (mouseenter)="buttonEntered(vehicle)" (mouseleave)="buttonLeaved(vehicle)">
                                            <i *ngIf="vehicle.lastPosition.speed > 0"
                                                class="fa fa-arrow-up" style="color: white;"
                                                [style.transform]="'rotate(' + vehicle.lastPosition.heading + 'deg)'"
                                                [style.-ms-transform]="'rotate(' + vehicle.lastPosition.heading + 'deg)'"
                                                [style.-webkit-transform]="'rotate(' + vehicle.lastPosition.heading + 'deg)'"
                                                [style.-o-transform]="'rotate(' + vehicle.lastPosition.heading + 'deg)'"></i>
                                            <i *ngIf="vehicle.lastPosition.speed === 0 && vehicle.lastPosition.ignition"
                                                class="fa fa-pause" style="color: white;"></i>
                                            <i *ngIf="vehicle.lastPosition.speed === 0 && !vehicle.lastPosition.ignition"
                                                class="fa fa-times" style="color: white;"></i>
                                        </button>
                                    </mgl-marker>

                                    <mgl-popup [marker]="vehicleMarker" [closeButton]="false">
                                        Vehicle: <a href="#/vehicles/{{vehicle.id}}/view">
                                            <b>{{vehicle.remoteId}}</b>
                                        </a><br />
                                        Time: <b>{{vehicle.lastPosition.datetime | timezoneHandler | date : 'yyyy-MM-dd, HH:mm:ss' | naHandler}}</b><br />
                                        Ignition: <b>{{vehicle.lastPosition.ignition}}</b><br />
                                        Speed: <b>{{vehicle.lastPosition.speed + " mph"}}</b><br />
                                        Heading: <b>{{vehicle.lastPosition.heading}}</b><br />
                                    </mgl-popup>

                                    <mgl-popup *ngIf="selectedLngLat" [closeButton]="false" [lngLat]="selectedLngLat">
                                        Vehicle: <a href="#/vehicles/{{currentVehicle.id}}/view">
                                            <b>{{currentVehicle.remoteId}}</b>
                                        </a><br />
                                        Time: <b>{{currentVehicle.lastPosition.datetime | timezoneHandler | date : 'yyyy-MM-dd, HH:mm:ss' | naHandler}}</b><br />
                                        Ignition: <b>{{currentVehicle.lastPosition.ignition}}</b><br />
                                        Speed: <b>{{currentVehicle.lastPosition.speed + " mph"}}</b><br />
                                        Heading: <b>{{currentVehicle.lastPosition.heading}}</b><br />
                                    </mgl-popup>
                                </ng-container>
                            </mgl-map>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #addVehicleModal>
    <div class="modal-header">
        <button type="button" class="close" (click)="closeAddVehicleModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Create Vehicle</h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" #addVehicleForm="ngForm" (ngSubmit)="addVehicleForm.form.valid && doCreate()">
            <div class="form-group">
                <label class="col-sm-4" for="vehicleId">Vehicle Id</label>
                <div class="col-sm-8" [ngClass]="{ 'has-error': addVehicleForm.submitted && vehicleIdInput.invalid }">
                    <input class="input input-xs form-control" name="vehicleId" [(ngModel)]="vehicleData.remoteId"
                        #vehicleIdInput="ngModel" required>

                    <div *ngIf="addVehicleForm.submitted && vehicleIdInput.invalid" class="help-block">
                        <div class="small" *ngIf="vehicleIdInput.errors.required">Please enter vehicle ID
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4" for="autoFix">AutoFix GPS Issues</label>
                <div class="col-sm-8">
                    <select style="width:100%" name="autoFix" id="autoFix" [(ngModel)]="vehicleData.autoFix">
                        <option [ngValue]="true">true</option>
                        <option [ngValue]="false">false</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4" for="category">Category</label>
                <div class="col-sm-8">
                    <select style="width:100%" name="category" id="category" [(ngModel)]="vehicleData.category">
                        <option *ngFor="let category of categories" [value]="category">
                            {{category}}
                        </option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4" for="vin">VIN</label>
                <div class="col-sm-8">
                    <input class="input input-xs form-control" name="vin" [(ngModel)]="vehicleData.vin">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4" for="secondaryVin">Secondary VIN</label>
                <div class="col-sm-8">
                    <input class="input input-xs form-control" name="secondaryVin" [(ngModel)]="vehicleData.secondaryVin">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4" for="year">Year</label>
                <div class="col-sm-8">
                    <input class="input input-xs form-control" name="year" type="number" [(ngModel)]="vehicleData.year">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4" for="make">Make</label>
                <div class="col-sm-8">
                    <input class="input input-xs form-control" name="make" [(ngModel)]="vehicleData.make">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4" for="model">Model</label>
                <div class="col-sm-8">
                    <input class="input input-xs form-control" name="model" [(ngModel)]="vehicleData.model">
                </div>
            </div>

            <div class="text-right">
                <button class="btn btn-primary" type="submit">Create</button>
            </div>
        </form>
    </div>
</ng-template>
