/* Alert videos */
.video-container {
    position: relative;
}

.video-container video {
    cursor: pointer;
    position: relative;
    z-index: 0;
}

.video-overlay {
    color: red;
    position: absolute;
    left: 5px;
    z-index: 1;
    bottom: 10px;
}

.video-overlay p {
    margin: 0;
}

.form-inline {
    display: flex;
    flex-wrap: wrap;
}

.video-container {
    display: inline-block;
    max-width: 33.333%;  
}

.video-container video {
    width: 100%;
}

.mt-30 {
    margin-top: 30px;
}

/* For block when video doesn't exist */
.no-video-block {
    position: absolute;
    top: 0;
    bottom: 3px;
    left: 0;
    right: 0;
    background-color: #000;
    z-index: 2;
    cursor: not-allowed;
    min-height: 110px;
}

.no-video-block-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
}

.no-video-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    width: 70px;
    height: 50px;
    position: relative;
}

.no-video-icon .fa {
    font-size: 25px;
}

.no-video-icon .fa-ban {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 50px;
}

.no-video-text {
    margin-top: 5px;
    font-size: 14px;
    font-weight: bold;
}