<div id="content">
    <div class="row">
        <sa-big-breadcrumbs [items]="['Maintenance', 'Configuration']" icon="cogs" class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
        </sa-big-breadcrumbs>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-7">
            <app-maintenance-fault-rules></app-maintenance-fault-rules>

            <app-maintenance-items></app-maintenance-items>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-5">
            <app-maintenance-groups></app-maintenance-groups>
        </div>
    </div>
</div>
