<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-5">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="pull-left">Driver Information</div>
        <div class="pull-right">
          <a class="action-link" (click)="editDriver(editDriverModal)" *ngIf="driver && driver.id">
            Edit
          </a>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="panel-body">
        <form class="form-horizontal">
          <div [class.required-fields-container]="company?.enabledFeatures?.hoursOfService">
            <div class="form-group">
              <label class="col-sm-4">Name</label>
              <label class="col-sm-8">{{driver.name()}}</label>
            </div>
            <div class="form-group">
              <label class="col-sm-4">Identifier</label>
              <label class="col-sm-8">{{driver.remoteId}}</label>
            </div>
            <div class="form-group">
              <label class="col-sm-4">License Number</label>
              <label class="col-sm-8">{{driver.licenseNumber}}</label>
            </div>
            <div class="form-group">
              <label class="col-sm-4">License State</label>
              <label class="col-sm-8">{{driver.licenseState}}</label>
            </div>
            <div class="form-group">
              <label class="col-sm-4">License Expiration</label>
              <label class="col-sm-8">{{driver.licenseExpiration | timezoneHandler | date : 'yyyy-MM-dd'}}</label>
            </div>
            <span *ngIf="company?.enabledFeatures?.hoursOfService" class="required-fields-text">Fields are required for ELD drivers</span>
          </div>
          <div class="form-group">
            <label class="col-sm-4">Status</label>
            <label class="col-sm-8">
              {{driver.status}}&nbsp;
              <a class="action-link" (click)="toggleStatus(toggleStatusModal)" *ngIf="loaded">
                {{driver.isActive() ? "Deactivate" : "Activate"}}
              </a>
            </label>
          </div>
          <div class="form-group">
            <label class="col-sm-4">Connection</label>
            <label class="col-sm-8">
              <ng-container *ngIf="!!driver.connectionBindList && driver.connectionBindList.length > 0">
                <ng-container *ngFor="let connectionBind of driver.connectionBindList; let last = last;">
                  <a href="#/company/connections/{{connectionBind.connection.id}}/view" *ngIf="!!connectionBind.connection">
                    {{connectionBind.connection.name}}
                  </a>
                  <ng-container *ngIf="!!connectionBind.connection && !last">
                    {{'|'}}
                  </ng-container>
                </ng-container>
              </ng-container>
            </label>
          </div>
          <div class="form-group">
            <label class="col-sm-4">Username</label>
            <label class="col-sm-8">{{driver.username}}</label>
          </div>
          <div class="form-group">
            <label class="col-sm-4">Password</label>
            <label class="col-sm-8">
              <app-password-hider [fieldName]="'password'" [fieldValue]="driver.newPassword"></app-password-hider>
            </label>
          </div>
          <div class="form-group">
            <label class="col-sm-4">Dispatch Group</label>
            <label class="col-sm-8">
              <ng-container *ngIf="driver.dispatchGroup && driver.dispatchGroup.name">
                {{driver.dispatchGroup && driver.dispatchGroup.name}}&nbsp;
              </ng-container>
              <a class="action-link" (click)="assignDispatchGroup(assignDispatchGroupModal)" *ngIf="dispatchGroupAssignable">
                Assign
              </a>
              <ng-container *ngIf="driver.dispatchGroup && driver.dispatchGroup.id">
                &nbsp;|&nbsp;
                <app-long-action-link [actionName]="'Unassign'" [actionParams]="[driver.dispatchGroup]"
                                      (actionClicked)="unassignDispatchGroup($event[0], $event[1])">
                </app-long-action-link>
              </ng-container>
              <i *ngIf="!dispatchGroupAssignable">
                No valid groups
              </i>
            </label>
          </div>
          <ng-container *ngIf="theCompany() && theCompany().enabledFeatures && theCompany().enabledFeatures.frontline">
            <div class="form-group" *ngFor="let attr of driver.editableAttributes">
              <label class="col-sm-4">{{attr.name | capitalize}}</label>
              <label class="col-sm-8">{{attr.value}}</label>
            </div>
          </ng-container>
        </form>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-12 col-lg-7 widen-on-small-device">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="pull-left">Reporting Profile History</div>
        <div class="pull-right">
          <a class="action-link" (click)="reassign(reassignModal)" *ngIf="reportingProfiles && reportingProfiles.length >= 1">
            Reassign
          </a>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="panel-body no-padding">
        <div class="table-no-data" *ngIf="!driver.reportingProfileHistory">
          No data available
        </div>
        <table class="table table-striped table-bordered table-hover"
                *ngIf="driver.reportingProfileHistory">
          <thead>
          <tr>
            <th class="col-sm-4">Name</th>
            <th class="col-sm-8">Period</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of driver.reportingProfileHistory">
            <td class="col-sm-4">{{item.reportingProfile && item.reportingProfile.name}}</td>
            <td class="col-sm-8">{{period(item)}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <app-driver-reports></app-driver-reports>

    <app-driver-devices *ngIf="theCompany() && theCompany().devicesEnabled"></app-driver-devices>
  </div>
</div>

<ng-template #reassignModal>
  <div class="modal-header">
    <button type="button" class="close" (click)="closeReassignModal()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Reassign Driver</h4>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" #reassignForm="ngForm"
          (ngSubmit)="reassignForm.form.valid && doReassign()">
      <div class="form-group">
        <label class="col-sm-3" for="reportingProfileId">Assign To</label>
        <div class="col-sm-9">
          <select style="width:100%" name="reportingProfileId" id="reportingProfileId"
                  [(ngModel)]="reassignData.reportingProfileId">
            <option *ngFor="let rp of reportingProfiles" [value]="rp.id">{{rp.name}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3" for="asOf">As Of</label>
        <div class="col-sm-9">
          <div class="input-group" [ngClass]="{ 'has-error': reassignForm.submitted && asOfInput.invalid }">
            <input [(ngModel)]="reassignData.asOf" [owlDateTimeTrigger]="dt" [owlDateTime]="dt" name="asOf" required
                   #asOfInput="ngModel" class="form-control" style="height: 24px;">
            <span class="input-group-addon" style="height: 24px; padding: 4.2px;"><i class="fa fa-calendar"></i></span>
            <owl-date-time #dt></owl-date-time>
          </div>
          <div *ngIf="reassignForm.submitted && asOfInput.invalid" class="help-block">
            <div class="small" *ngIf="asOfInput.errors.required">Please enter as of date
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
                    <span class="badge bg-color-red">
                        <i class="fa-fw fa fa-warning"></i>
                    </span>
          This driver will be assigned to this reporting profile for all dates after the <i>As Of</i> date you provided.
          All existing Reporting Profile assignments after this date will be removed.
        </div>
      </div>
      <div class="text-right">
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #toggleStatusModal>
  <div class="modal-header">
    <button type="button" class="close" (click)="closeToggleStatusModal()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">{{driver.isActive() ? "Deactivate" : "Activate"}}</h4>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" (ngSubmit)="doToggleStatus()">
      <div class="form-group">
        <div class="col-xs-12">
                    <span class="badge bg-color-red">
                        <i class="fa-fw fa fa-warning"></i>
                    </span>
          Are you sure?<br/>
          {{
          driver.isActive() ?
                  "Once inactive no new reports will be generated for this driver and you will no longer be billed for the driver's subscriptions." :
                  "Once active you will be billed for this driver's subscriptions and we will generate applicable reports."
          }}
        </div>
      </div>
      <div class="text-right">
        <button class="btn btn-primary" type="submit">{{driver.isActive() ? "Deactivate" : "Activate"}}</button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #editDriverModal>
  <div class="modal-header">
    <button type="button" class="close" (click)="closeEditDriverModal()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Edit Driver</h4>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" #editDriverForm="ngForm" (ngSubmit)="editDriverForm.form.valid && doUpdate()">
      <div [class.required-fields-container]="company?.enabledFeatures?.hoursOfService">
        <div class="form-group">
          <label class="col-sm-4" for="firstName">First Name</label>
          <div class="col-sm-8">
            <input class="input input-xs form-control" name="firstName" [(ngModel)]="driverData.firstName">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4" for="lastName">Last Name</label>
          <div class="col-sm-8">
            <input class="input input-xs form-control" name="lastName" [(ngModel)]="driverData.lastName">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4" for="remoteId">Identifier</label>
          <div class="col-sm-8">
            <input class="input input-xs form-control" name="remoteId" [(ngModel)]="driverData.remoteId" [disabled]="!driverData.canEdit">
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-4" for="licenseNumber">License Number</label>
          <div class="col-sm-8">
            <input class="input input-xs form-control" name="licenseNumber" [(ngModel)]="driverData.licenseNumber">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4" for="licenseState">License State</label>
          <label class="col-sm-8">
            <select style="height: 24px; margin-top: -2px; margin-bottom: 2px; width: 100%" name="licenseState" id="licenseState"
                    [(ngModel)]="driverData.licenseState">
              <option value="">-- None --</option>
              <option *ngFor="let s of states" [value]="s.key">{{s.value}}</option>
            </select>
          </label>
        </div>
        <div class="form-group">
          <label class="col-sm-4" for="licenseExpiration">License Expiration</label>
          <label class="col-sm-8">
            <div class="input-group">
              <input [(ngModel)]="driverData.licenseExpiration" [owlDateTimeTrigger]="dt" [owlDateTime]="dt"
                    name="licenseExpiration" class="form-control" style="height: 24px; padding-left: 4px;">
              <span class="input-group-addon" style="height: 24px; padding: 4.2px;">
                              <i class="fa fa-calendar"></i>
                          </span>
              <owl-date-time [pickerType]="'calendar'" #dt></owl-date-time>
            </div>
          </label>
        </div>
        <span *ngIf="company?.enabledFeatures?.hoursOfService" class="required-fields-text">Fields are required for ELD drivers</span>
      </div>

      <div class="form-group">
        <label class="col-sm-4" for="username">Username</label>
        <div class="col-sm-8" [ngClass]="{ 'has-error': editDriverForm.submitted && usernameInput.invalid }">
          <input class="input input-xs form-control" name="username" [(ngModel)]="driverData.username"
                 #usernameInput="ngModel">

          <!-- <div *ngIf="editDriverForm.submitted && usernameInput.invalid" class="help-block">
              <div class="small" *ngIf="usernameInput.errors.required">Please enter username
              </div>
          </div> -->
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4" for="newPassword">Password</label>
        <div class="col-sm-8">
          <input class="input input-xs form-control" name="newPassword" [(ngModel)]="driverData.newPassword">
        </div>
      </div>
      <ng-container *ngIf="theCompany() && theCompany().enabledFeatures && theCompany().enabledFeatures.frontline">
        <div class="form-group" *ngFor="let attr of driverData.attributes; let i = index">
          <label class="col-sm-4">{{attr.name | capitalize}}</label>
          <div class="col-sm-8">
            <input class="input input-xs form-control" name="{{attr.name}}" [(ngModel)]="driverData.attributes[i].value">
          </div>
        </div>
      </ng-container>

      <div class="text-right">
        <button class="btn btn-primary" type="submit">Save</button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #assignDispatchGroupModal>
  <div class="modal-header">
    <button type="button" class="close" (click)="closeAssignDispatchGroupModal()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Assign To Dispatch Group</h4>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" #assignDispatchGroupForm="ngForm" (ngSubmit)="assignDispatchGroupForm.form.valid && doAssignDispatchGroup()">
      <div class="form-group">
        <label class="col-sm-3" for="dispatchGroupId">Group</label>
        <div class="col-sm-9">
          <select style="width:100%" name="dispatchGroupId" id="dispatchGroupId"
                  [(ngModel)]="assignDispatchGroupData.dispatchGroupId">
            <option *ngFor="let dg of dispatchGroups" [value]="dg.id">{{dg.name}}</option>
          </select>
        </div>
      </div>

      <div class="text-right">
        <button class="btn btn-primary" type="submit">Assign</button>
      </div>
    </form>
  </div>
</ng-template>
