
/* You can add global styles to this file, and also import other style files */

/* #GOOGLE FONT */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700");

@import "~mapbox-gl/dist/mapbox-gl.css";
@import '~@mapbox/mapbox-gl-draw/dist/mapbox-gl-draw.css';
@import "~ng-pick-datetime/assets/style/picker.min.css";
@import "~@ng-select/ng-select/themes/default.theme.css";

mgl-map {
    height: 80vh;
    width: 100%;
}
.mapbox-location-link-container {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.mapbox-locations-panel {
    float: left;
    padding-left: 10px;
    padding-right: 5px;
    background: white; /* older browsers */
    background: rgba(255,255,255,0.9); /* newer browsers */
    height: 50vh;
    min-height: 50vh;
    max-height: 50vh;
    overflow-y: auto;
    width: 175px;
}
.mapbox-locations-panel ul.pagination {
    margin-top: 5px;
}
.mapbox-locations-panel ul.pagination * {
    font-size: x-small;
    padding: 2px!important;
}

.mapbox-position-panel {
    float: left;
    padding-left: 10px;
    padding-right: 5px;
    background: white; /* older browsers */
    background: rgba(255,255,255,0.9); /* newer browsers */
    /* height: 30vh;
    min-height: 30vh;
    max-height: 30vh; */
    height: 185px;
    min-height: 185px;
    max-height: 185px;
    overflow-y: auto;
    width: 220px;
}
.mapbox-position-results-panel table {
    margin-bottom: 3px;
}
.mapbox-position-results-panel table * {
    font-size: xx-small;
    padding: 2px!important;
}
.mapbox-position-results-panel ul.pagination {
    margin-top: 0px;
}
.mapbox-position-results-panel ul.pagination * {
    font-size: x-small;
    padding: 2px!important;
}
.mapbox-position-results-panel {
    float: left;
    padding-left: 10px;
    padding-right: 5px;
    background: white; /* older browsers */
    background: rgba(255,255,255,0.9); /* newer browsers */
    height: 40vh;
    min-height: 40vh;
    max-height: 40vh;
    overflow-y: auto;
    scroll-behavior: smooth;
    width: 275px;
}
.mapbox-position-container {
    margin-left: -10px;
}

table.positions-table tr th,
table.positions-table tr td {
    max-height: 16.8px;
    height: 16.8px;
    padding: 0px!important;
    padding-left: 2px!important;
    margin: 0px;
}
table.positions-table thead tr th {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: white;
    z-index: 10;
}
select[disabled] {
    background-color: rgb(238, 238, 238);
}

.fix-searchPlaces ngb-typeahead-window {
    margin-left: -11px;
    margin-top: -10px;
}
.fix-searchPlaces ngb-typeahead-window .dropdown-item {
    text-align: left;
}
.mapbox-typeahead {
    border: none;
    width: 250px;
    margin-left: 5px;
    padding-left: 5px;
    float: left;
    background: white; /* older browsers */
    background: rgba(255,255,255,0.9); /* newer browsers */
}
.mapbox-control-fix div.mapboxgl-ctrl-top-left div.mapboxgl-ctrl {
    height: 22px;
}

.desktop-detected{
    min-height:190px!important;
}

div.tobedone:before,
div.tobedone-medium:before,
div.tobedone-small:before {
    content: "LATER PHASE";
    font-weight: 1000;
    color: grey;
}
div.tobedone,
div.tobedone-medium,
div.tobedone-small {
    border: 3px dotted;
    background-color: lightgray;
}
div.tobedone {
    min-height: 500px!important;
}
div.tobedone-medium {
    min-height: 250px!important;
}
div.tobedone-small {
    min-height: 100px!important;
}

.override-child-dataTable-margin {
    margin-top: -6px;
}
.override-child-dataTable-margin div.dt-toolbar-footer {
    margin-top: -6px!important;
}

.override-no-pagination-dataTable-double div.dataTables_scrollHead {
    height: 50.6px;
    margin-bottom: -6px!important;
}
.override-no-pagination-dataTable-double div.dataTables_scrollHead div.dataTables_scrollHeadInner,
.override-no-pagination-dataTable-double div.dataTables_scrollHead div.dataTables_scrollHeadInner table thead tr th {
    height: 50.6px;
}
.override-no-pagination-dataTable div.dataTables_scrollHead {
    height: 33.3px;
    margin-bottom: -6px!important;
}
.override-no-pagination-dataTable div.dataTables_scrollHead div.dataTables_scrollHeadInner,
.override-no-pagination-dataTable div.dataTables_scrollHead div.dataTables_scrollHeadInner table thead tr th {
    height: 33.3px;
}

.action-link,
.action-link:hover {
    text-decoration: underline;
    text-decoration-style: dashed;
    text-underline-position: under;
    font-style: italic;
}
.action-link-grey {
    color: #c9c9c9 !important;
}
.action-link-grey:hover, .action-link-grey:active {
    color: #a0a0a0 !important;
}

input.form-input-xs {
    width: 40px;
    height: 22px;
}

input.input-xs,
div.action-buttons-group {
    margin-top: -2px;
    margin-bottom: -2px;
}
div.action-buttons-group > button {
    margin-left: 3px;
}

form div.form-group div.help-block > div {
    color: #b94a48;
    margin-bottom: -5px;
}

div.table-no-data {
    text-align: center;
    vertical-align: middle;
    line-height: 35.2px;
    height: 35.2px;
}

div.tables-flat > table {
    margin: 0px;
}
div.tables-flat > table th,
div.tables-flat > table thead td {
    background-color: white;
}

.table.fixed-layout {
    table-layout: fixed;
}
.table.fixed-layout td.fixed-layout-cell {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.hidden-long-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Fixed issue with ng-pick-datetime with modal */
.cdk-overlay-container {
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    position: absolute;
    z-index: 9999999 !important;
}
.cdk-global-overlay-wrapper, .cdk-overlay-container {
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    position: absolute;
    z-index: 9999999 !important;
}

.dropdown-menu {
    max-height: 300px;
    width: 300px;
    padding: 0px;
    margin: 0px;
}
.dropdown-menu button.dropdown-item:not(:first-child) {
    margin-top: -3px;
}
button.dropdown-item {
    width: 299px;
    background-color: white;
    border: 1px solid lightgray;
    min-height: 30px;
}
button.dropdown-item.active {
    background-color: lightgray;
}

/* Fixes for <sa-activities> */
.ajax-dropdown > :first-child {
    margin: 0px;
    padding: 0px;
}
.ajax-dropdown {
    padding-top: 0px;
    height: 390px;
}

.notification-wrapper {
    position: relative;
}
.notification-wrapper .notification-close {
    position: absolute;
    top: 2px;
    right: 2px;
}

select.to-default {
    min-height: 21.2px!important;
    max-height: 21.2px!important;
    height: 21.2px!important;
}

.ng-select .ng-dropdown-header {
    padding: 0px!important;
}

.ng-select.to-default {
    border: 0px;
    min-height: 0px;
    border-radius: 0;
}
.ng-select.to-default .ng-select-container {
    min-height: 0px;
    border-radius: 0;
    box-shadow: none!important;
    border-color: rgb(169, 169, 169)!important;
}

.ng-select.to-default .ng-select-container,
.ng-select.to-default .ng-option-label,
.ng-select.to-default .ng-option,
.ng-select.to-default .ng-select-container,
.ng-select.to-default .ng-value-icon,
.ng-select.to-default .ng-value-container,
.ng-select.to-default .ng-value-label,
.ng-select.to-default .ng-value,
.ng-select.to-default .ng-input,
.ng-select.to-default .ng-input input,
.ng-select.to-default .ng-placeholder {
    padding-left: 1px!important;
    padding-top: 0px!important;
    padding-bottom: 0px!important;
    min-height: 21.2px!important;
    max-height: 21.2px!important;
    height: 21.2px!important;
}
.ng-select.to-default.ng-touched .ng-arrow-wrapper,
.ng-select.to-default.ng-select-opened .ng-arrow-wrapper,
.ng-select.to-default.ng-touched .ng-spinner-loader,
.ng-select.to-default.ng-select-opened .ng-spinner-loader {
    padding-top: 10px!important;
}

.ng-select.to-default.ng-touched .ng-value-icon,
.ng-select.to-default.ng-touched .ng-value,
.ng-select.to-default.ng-touched .ng-value-label,
.ng-select.to-default.ng-select-opened .ng-value-icon,
.ng-select.to-default.ng-select-opened .ng-value,
.ng-select.to-default.ng-select-opened .ng-value-label {
    padding-top: 5px!important;
}

/* Multi-select: redefine styles */
.ng-select.to-default.ng-select-multiple .ng-value-icon,
.ng-select.to-default.ng-select-multiple .ng-value-container,
.ng-select.to-default.ng-select-multiple .ng-value-label {
    margin-top: -5px!important;
}
.ng-select.to-default.ng-select-multiple.ng-touched .ng-arrow-wrapper,
.ng-select.to-default.ng-select-multiple.ng-select-opened .ng-arrow-wrapper,
.ng-select.to-default.ng-select-multiple.ng-touched .ng-spinner-loader,
.ng-select.to-default.ng-select-multiple.ng-select-opened .ng-spinner-loader {
    padding-top: 0px!important;
}

.ng-select.to-default.ng-untouched .ng-placeholder {
    margin-top: 0px;
}
.ng-select.to-default.ng-select-focused .ng-placeholder,
.ng-select.to-default .ng-placeholder {
    margin-top: 10px;
}

.ng-select.to-default-300.dropdown-to-right .ng-dropdown-panel {
    margin-left: -100px;
}
.ng-select.to-default-300 .ng-dropdown-panel {
    width: 300px;
}
.ng-select.to-default-300 .ng-dropdown-panel-items {
    width: 298px;
}
.ng-select.to-default-250.dropdown-to-right .ng-dropdown-panel {
    margin-left: -100px;
}
.ng-select.to-default-250 .ng-dropdown-panel {
    width: 250px;
}
.ng-select.to-default-250 .ng-dropdown-panel-items {
    width: 248px;
}
.ng-select.to-default-3items .ng-dropdown-panel {
    max-height: 63.6px;
}
.ng-select.to-default-3items .ng-dropdown-panel-items {
    max-height: 63.6px;
}

.modal-xl {
    width: 78%;
}

@media (min-width: 768px) {
    .modal-dialog.modal-400 {
        width: 400px;
    }
    .modal-dialog.modal-450 {
        width: 450px;
    }
    .modal-dialog.modal-550 {
        width: 550px;
    }
    .modal-dialog.modal-600 {
        width: 600px;
    }
    .modal-dialog.modal-650 {
        width: 650px;
    }
    .modal-dialog.modal-700 {
        width: 700px;
    }
    .modal-dialog.modal-750 {
        width: 750px;
    }
}

.modal-info {
    padding-top: 125px;
}

.mapbox-popup-form-fix {
    min-width: 240px;
    width: 240px;
    padding-right: 20px;
}
.mapbox-popup-form-fix div.form-group{
    margin-bottom: 0px;
}

.position-active {
    background-color: lightgray;
}
.position-not-processed {
    background-color: rgb(255, 152, 255);
}
.position-error {
    background-color: #f5c6cb;
}

.login-as {
    padding: 5px 13px 0 13px;
    height: 30px!important;
    width: 100%!important;
    background-color: yellow;
}
.sa-header-fix {
    margin-right: 13px;
}
@media (max-width: 768px) {
    .login-as {
        padding: 5px 5px 0 5px;
    }
    .sa-header-fix {
        margin-right: 5px;
    }
}

/* Messages styling */
.sa-outlook-content-header {
    margin-left: 200px;
    padding-top: 22px;
    padding-right: 14px;
    padding-left: 14px;
}
@media (max-width: 1024px) {
    .sa-outlook-content-header {
        margin-left: 0px;
    }
}
@media (min-width: 1024px) {
    .hidden-1024plus {
        display: none!important;
    }
}
@media (max-width:979px) {
    .sa-outlook-content-header {
        padding-bottom: 5px;
        padding-right: 5px;
        padding-left: 5px;
    }
}
.inbox-data-action {
    width: 68px;
}
.inbox-data-acknowledge {
    width: 5px;
}
.unread:hover td {
    background: #e8e8e8!important;
}
.message-driver-filter {
    width: 200px;
    height: 32.4px;
    border-color: rgb(204, 204, 204);
}
.message-search-input {
    width: 200px;
    height: 32.4px;
    margin-left: 5px;
    padding-left: 3px;
    border-color: rgb(204, 204, 204);
}
.message-search-clear {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}

.email-open-header {
    margin-top: 8px;
}
.message-textarea {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 350px;
    margin-bottom: -4px;
    padding: 4px;
}
.inbox-info-bar {
    margin: 0px;
}
.inbox-compose-footer {
    margin: 0px;
}

.inbox-message-image,
.inbox-message-video {
    width: 19%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    margin-right: 7px;
    margin-left: 2px;
}
.inbox-message-video {
    border-color: gray;
    border-style: dashed;
    border-width: 2px;
    border-radius: 10px;
}
.email-open-header span {
    font-size: 10px;
    font-weight: 400;
    padding: 3px 5px;
    letter-spacing: normal;
    text-transform: uppercase;
    vertical-align: middle;
    line-height: 33px;
    background: #ACACAC
}
.email-open-header label {
    font-size: 13px;
    font-weight: 400;
    padding-top: 8px;
    letter-spacing: normal;
}

.message-disabled-input:hover {
    cursor: default!important;
}
.message-disabled-input {
    background-color: #fafafa!important;
}

/* angular2-multiselect custom class/styling */
.multiselect-32px .cuppa-dropdown .selected-list .c-token {
    /* This width is very specific and corrects only when we show 3 badgesin a multiselect */
    width: 30%;
}
.multiselect-32px .cuppa-dropdown .selected-list .c-token .c-label {
    width: 100%;
}

.multiselect-32px .cuppa-dropdown,
.multiselect-32px .cuppa-dropdown .selected-list,
.multiselect-32px .cuppa-dropdown .selected-list .c-btn {
    height: 32px!important;
    max-height: 32px!important;
    min-height: 32px!important;
}

/** Shortcuts styling */
kbd {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.1em 0.5em;
    margin: 0 0.2em;
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
    background-color: #f7f7f7;
    color: black;
}

/* Define form-group helper override within a table */
.small-form-group {
    margin-bottom: 3px!important;
}
.xsmall-form-group {
    margin-bottom: 0px!important;
}

/* Define drag and drop stylings for table rows */
.drag-border {
    border: #ff525b dashed 3px!important;
}
.drag-hint-border {
    border: #3c763d dashed 2px!important;
}
.drag-over-border {
    border: #fbbc05 dashed 3px!important;
}
.drag-transit {
    border: #3500FF dashed 2px!important;
}

.pagination-no-margin ul.pagination {
    margin: 0px;
}

/* Extensions to Bootstrap col-xx-n classes */
.col-0_7, .col-1_6, .col-1_7 .col-3_6, .col-1_4, .col-1_5, .col-2_5 {
    position: relative;
    min-height: 1px;
    padding-left: 13px;
    padding-right: 13px;
    float: left;
}
.col-0_7 {
    width: 5.83333333%; /* 0.7 out of 12 */
}
.col-1_7 {
    width: 14.16666666%; /* 1.7 out of 12 */
}
.col-3_6 {
    width: 30.00000001%; /* 3.6 out of 12 */
}
.col-1_6 {
    width: 13.33333334%; /* 1.6 out of 12 */
}
.col-1_4 {
    width: 11.66666666%; /* 1.4 out of 12 */
}
.col-1_5 {
    width: 12.49999999%; /* 1.5 out of 12 */
}
.col-2_5 {
    width: 20.83333333%; /* 2.5 out of 12 */
}

.question-form .form-group {
    padding-left: 7px;
    padding-right: 7px;
}
.question-text {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 150px;
    padding: 4px;
}
.question-checkbox .onoffswitch-container {
    margin-top: 0px;
    margin-left: -5px;
}

/* SearchSwitcherComponent specific */
.search-div.activate {
    right: 0!important;
    box-shadow: -11px 12px 23px rgba(0,0,0,.2);
    padding: 5px 10px 10px;
}
.search-div {
    position: absolute;
    top: 39px;
    right: 0;
    width: 450px;
    z-index: 902;
    background: #fefefe!important;
}
.search-div.activate #searching {
    background: #fefefe!important;
}
.search-div #searching + .search-tab {
    display: none;
}
.search-div.activate #searching + .search-tab {
    display: block;
    border-top: none;
}
.search-tab-header,
.search-tab-header ul.nav>li,
.search-tab-header ul.nav>li>a {
    height: 3.0rem;
}
.search-div>span {
    position: absolute;
    right: 0;
    top: 0px;
    display: block;
    height: 30px;
    width: 30px;
    border-radius: 5px 0 0 5px;
    background: #F1DA91;
    padding: 2px;
    text-align: center;
    line-height: 28px;
    cursor: pointer;
}
.search-div>span i {
    font-size: 17px;
}
.search-div.activate>span {
    left: -30px;
}
.search-div.activate>span i:before {
    content: "\f00d";
}
.search-div .tab-content {
    padding-top: 1px;
}
.search-div .tab-content .dropdown-menu {
    width: 200px;
    animation: none;
}
.search-div .nav-tabs::-webkit-scrollbar {
    height: 10px;
}
.search-div .dropdown-pad {
    padding: 5px; 
    overflow-y: auto;
}
.search-div .check-label {
    padding-left: 1rem;
    margin-top: 1rem;
}
.search-tab-header ul>li>a {
    padding-top: 6px;
}
.search-tab-header ul>li.active>a,
.search-tab-header ul>li.active>a:focus,
.search-tab-header ul>li.active>a:hover {
    background-color: rgb(233, 233, 233);
}

.search-tab-header ul>li>a {
    border: 1px solid #CCCCCC!important;
    border-bottom: none!important;
    border-right: none!important;
    border-left: none!important;
    white-space: nowrap;
}
.search-div .list-group-item{
    background-color: transparent;
    border-color: transparent;
}
ng-scrollbar-x {
    padding-left: 1px!important;
    padding-right: 1px!important;
    bottom: -10px!important;
    margin: 0!important;
    padding-top: 0!important;
}
.search-div .list-group-item-heading, .search-div .list-group-item-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Define application specific styling */
.app-duallist div.dual-list button[name=addBtn][disabled], .app-duallist div.dual-list button[name=removeBtn][disabled],
.app-duallist div.dual-list button[name=addBtn][disabled]:hover, .app-duallist div.dual-list button[name=removeBtn][disabled]:hover {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.app-duallist div.dual-list button[name=addBtn], .app-duallist div.dual-list button[name=removeBtn] {
    color: black;
    background-color: #fff;
    border-color: #ccc;
}

.app-duallist div.dual-list button[name=addBtn]:hover, .app-duallist div.dual-list button[name=removeBtn]:hover {
    color: black;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.app-duallist div.dual-list button[name=addBtn]:active, .app-duallist div.dual-list button[name=removeBtn]:active,
.app-duallist div.dual-list button[name=addBtn]:focus, .app-duallist div.dual-list button[name=removeBtn]:focus {
    color: black;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
}

.app-duallist div.dual-list .record-picker {
    border-radius: 0;
    overflow-y: scroll!important;
    height: 160px;
    min-height: 160px;
}

.app-duallist .dual-list .record-picker::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 14px;
}
.app-duallist .dual-list .record-picker::-webkit-scrollbar-thumb {
    background: #d4d4d4;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.app-duallist .dual-list .record-picker::-webkit-scrollbar-thumb {
    background: #e6e6e6;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.app-duallist .dual-list .record-picker::-webkit-scrollbar-thumb:hover {
    background: #d4d4d4;
}

.app-duallist .dual-list .record-picker::-webkit-scrollbar-track {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.app-duallist div.dual-list .record-picker ul li:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.app-duallist div.dual-list .record-picker ul li:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.app-duallist div.dual-list .record-picker ul li.selected {
    background-color: #e6e6e6;
}

.app-duallist div.dual-list .record-picker ul li.selected:hover {
    background-color: #d4d4d4;
}

.column-selector-menu-show-hide {
    text-align: right;
    margin-top: 10px;
}
.column-selector-menu-show-hide a.action-link {
    padding-right: 7px;
}
.column-selector-menu-show-hide a.action-link i {
    margin-top: -2px;
}

.app-duallist .dual-list .button-bar {
    display: none;
}

.column-selector-menu {
    background: white;
    z-index: 906;
    box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);
    position: fixed;
    display: block;
    transition: 0.2s display ease-in;
}
.column-selector-menu-options {
    padding: 10px;
    z-index: 906;
}
.column-select-button {
    margin-bottom: 10px;
    width: 89px;
    margin-top: 10px;
}

/* IMPORTANT: Also uses as a marker in the DatatableComponent */
.filter-valuable {
    padding: 0!important;
}

.action-disabled {
    cursor: not-allowed!important;
}

.switch-inactive div {
    cursor: default!important;
}

.image-section img {
    max-width: 100%;
    cursor: pointer;
}

.image-section span {
    width: 100%;
    border: 1px solid #dbdbdb;
    line-height: 250px;
    display: inline-block;
    text-align: center;
}

/* Bootstrap 4 like classes */
.px-1 {
    padding-left: 10px;
    padding-right: 10px;
}

.mx-1 {
    margin-left: 10px;
    margin-right: 10px;
}

.my-1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mr-1 {
    margin-right: 10px;
}

.breadcrumbs-area {
    padding-top: 18px!important;
    height: 66.4px;
}
.breadcrumbs-link,
.breadcrumbs-link:hover {
    /* border-bottom: dotted 2px; */
    border-bottom: dashed 1px;
    font-style: italic;
}

.display-grid {
    display: grid!important;
}

/*
 * Fixing margins for HOS Drivers table.
 * TODO: Important to fix for all other cases within HOS.
 */
.hos-fix-margins table.dataTable.no-footer {
    margin-bottom: 0px!important;
}
.hos-fix-margins table.dataTable.no-footer th {
    padding-top: 8px!important;
    padding-bottom: 8px!important;
}
.hos-fix-margins div.dataTables_scrollBody table {
    margin: 0px!important;
}

/* Adjusting styling to be closer to HOS */
.hos-panel .panel-heading,
.hos-panel .panel-footer {
    background-color: white;
}

.hos-info-panel {
    margin-bottom: 15px!important;
}
.hos-info-panel .panel-heading {
    background-color: white;
    padding: 15px;
    font-size: medium;
}
.hos-info-panel .panel-body {
    padding-top: 5px;
    padding-bottom: 5px;
}
.hos-info-panel .panel-body .form-group div {
    margin-bottom: 15px;
}
.hos-info-panel .panel-body .form-group label {
    font-weight: bold;
}

.hos-log-edited {
    background-color: #e9e9e9;
}
.hos-log-edited:hover {
    background-color: #ecf3f8;
}
.hos-log-entry-marker {
    font-weight: 700;
    color: #73bcf5;
}

/* 
 * Fixing inbox-menu-lg for darker windows (Messages is with white background)
 */
.menu-lg-darkmode li,
.menu-lg-darkmode li a {
    background-color: #f1f1f1!important;
}
.menu-lg-darkmode li:hover,
.menu-lg-darkmode li a:hover {
    background-color: #eaeaea!important;
}
.menu-lg-darkmode li.active,
.menu-lg-darkmode li.active a {
    background-color: #e6e6e6!important;
}

.form-group-closer {
    margin-bottom: 5px;
}

.break-all-words {
    word-break: break-all;
}

@media (max-width: 768px) {
    .filter-header {
        display: none;
    }
    table.dataTable.minimize-on-small td {
        max-width: 70px;
        word-break: break-all;
    }

    /* Opposite to vehicle-view.component.html and vehicle-view.component.html*/
    div.widen-on-small-device {
        width: calc(100% + 177px);
        margin-left: -177px;
    }
}
