<header id="header" [style.height]="loggedInAs ? '79px' : '49px'" style="padding-right: 0px;">
  <div class="login-as" *ngIf="loggedInAs">
    <b>LOGGED IN AS:</b> {{loggedInAs.name()}} ({{loggedInAs.username}})
    &nbsp;&nbsp;&nbsp;
    <b>COMPANY:</b> 
    
    <select style="max-width: 300px; width: 100%" data-select-search="true" select2 name="vehicle" 
      [(ngModel)]="companyId" [chooseOnTab]="true" (changedAction)="changeCompany($event)">
      <option *ngFor="let company of companies" [value]="company.id">
        {{company.name}}
      </option>
    </select>

    <a class="pull-right" (click)="logOutAs()">
      Back to Admin <i class="fa fa-sign-in"></i>
    </a>
  </div>

  <div id="logo-group">
    <!-- PLACE YOUR LOGO HERE -->
    <span id="logo"> <img src="assets/img/logo.png" alt="Truckspy"> </span>
    <!-- END LOGO PLACEHOLDER -->

    <sa-activities></sa-activities>
  </div>
  <!-- pulled left: nav area -->
  <div class="pull-left">
    <ng-container *ngIf="!theUser()?.isThirdParty()">
      <!-- search mobile button (this is hidden till mobile view port) -->
      <div id="search-mobile" class="btn-header transparent pull-right">
        <span> <a (click)="toggleSearchMobile()" title="Search"><i class="fa fa-search"></i></a> </span>
      </div>
      <!-- end search mobile button -->
  
      <!-- input: search field -->
      <ng-template #searchTemplate let-r="result" let-t="term">
        <div style="float: left; text-align: left">
          <b>{{r.entityType}}</b>&nbsp;
          &nbsp;<ngb-highlight [result]="r.search" [term]="t"></ngb-highlight>
        </div>
        <div *ngIf="r.status" style="float: right; text-align: right">
          <b>{{r.status}}</b>&nbsp;
        </div>
      </ng-template>
  
      <div class="header-search pull-right">
        <input id="search-typeahead" type="text" class="form-control" placeholder="Search..." [ngbTypeahead]="search"
          [resultTemplate]="searchTemplate" (selectItem)="openSelected($event)" (focus)="focus$.next($event.target.value)"
          (click)="click$.next($event.target.value)" #searchInput="ngbTypeahead" [(ngModel)]="model" />
        <a id="cancel-search-js" (click)="toggleSearchMobile()" title="Cancel Search"><i class="fa fa-times"></i></a>
      </div>
      <!-- <form #searchForm="ngForm" (ngSubmit)="onSubmit()" class="header-search pull-right" *ngIf="router.url !== '/search'">
        <input id="search-fld" type="text" name="param" required placeholder="Search...">
        <button type="submit">
          <i class="fa fa-search"></i>
        </button>
        <a id="cancel-search-js" (click)="toggleSearchMobile()" title="Cancel Search"><i class="fa fa-times"></i></a>
      </form> -->
      <!-- end input: search field -->
    </ng-container>

    <app-shortcuts></app-shortcuts>

    <!-- fullscreen button -->
    <sa-full-screen></sa-full-screen>
    <!-- end fullscreen button -->

    <ng-container *ngIf="!theUser()?.isThirdParty()">
      <!-- #Voice Command: Start Speech -->
      <sa-speech-button></sa-speech-button>
      <!-- end voice command -->
    </ng-container>
  </div>
  <!-- end pulled left: nav area -->

  <!-- pulled right: nav area -->
  <div class="pull-right sa-header-fix">

    <sa-collapse-menu></sa-collapse-menu>

    <!-- #MOBILE -->
    <!-- Top menu profile link : this shows only when top menu is active -->
    <ul id="mobile-profile-img" class="header-dropdown-list hidden-xs padding-5">
      <li class="">
        <a href="#" class="dropdown-toggle no-margin userdropdown" data-toggle="dropdown">
          <img src="assets/img/avatars/sunny.png" alt="John Doe" class="online" />
        </a>
        <ul class="dropdown-menu pull-right">
          <li>
            <a (click)="(null)" class="padding-10 padding-top-0 padding-bottom-0"><i class="fa fa-cog"></i> Setting</a>
          </li>
          <li class="divider"></li>
          <li>
            <a routerLink="/app-views/profile" class="padding-10 padding-top-0 padding-bottom-0"> <i
                class="fa fa-user"></i>
              <u>P</u>rofile</a>
          </li>
          <li class="divider"></li>
          <li>
            <a (click)="(null)" class="padding-10 padding-top-0 padding-bottom-0" data-action="toggleShortcut"><i
                class="fa fa-arrow-down"></i> <u>S</u>hortcut</a>
          </li>
          <li class="divider"></li>
          <li>
            <a (click)="(null)" class="padding-10 padding-top-0 padding-bottom-0" data-action="launchFullscreen"><i
                class="fa fa-arrows-alt"></i> Full <u>S</u>creen</a>
          </li>
          <li class="divider"></li>
          <li>
            <a routerLink="/auth/login" class="padding-10 padding-top-5 padding-bottom-5" data-action="userLogout"><i
                class="fa fa-sign-out fa-lg"></i> <strong><u>L</u>ogout</strong></a>
          </li>
        </ul>
      </li>
    </ul>

    <!-- logout button -->
    <sa-logout></sa-logout>
    <!-- end logout button -->

    <!-- multiple lang dropdown : find all flags in the flags page -->
    <!-- <sa-language-selector></sa-language-selector> -->
    <!-- end multiple lang -->

  </div>
  <!-- end pulled right: nav area -->

</header>
